{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="theme-toggle" id="themeToggle">🎨</div>

<div class="container">
  <div class="form-wrapper" id="formWrapper">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <h2 id="formTitle">Login</h2>
    {% if messages %}
            {% for messages in messages %}
            <p style="color: rgb(12, 160, 88);">{{messages}}</p>
            {% endfor %}
            {% endif%}
                      
    <form method="POST" action="{% url 'userdata' %}">
      
        {% csrf_token %}
      <div class="input-group">
        <input type="text" id="username" name="email" required />
       
        <label>Email</label>
      </div>

    

      <div class="input-group">
        <input type="password" id="password" name="password" required />
        <label>Password</label>
      </div>

    

      <div class="toggle-group">
        <label class="switch">
          <input type="checkbox" id="rememberMe" />
          <span class="slider"></span>
        </label>
        <span>Remember me</span>
      </div>

      <button type="submit">Login</button>

      <p class="switch-text">
        Don’t have an account?
        <a href="{% url 'register' %}" id="toggleForm">Sign up</a>
      </p>
    </form>

    <div class="success-message" id="successMessage">
      <h3>✔ Success!</h3>
      <button onclick="location.reload()">Go to Homepage</button>
    </div>
  </div>
</div>

  
  
</body>
</html>

