{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Smart Registration Form</h1>
    <div class="details">Material Design Theme</div>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div class="details">Responsive Design</div>
    <form method="POST" action="{% url 'savedata' %}">
        {% csrf_token %}
        <div class="col">
            <div class="minput">
                <input type="text" id="fname" dir="auto" name="name" required>
                <span class="bar"></span>
                <label>First Name</label>
            </div>
            <div class="minput">
                <input type="text" id="lname" dir="auto" name= "lname" required>
                <span class="bar"></span>
                <label>Last Name</label>
            </div>
            <div class="minput">
                <input type="number" id="age" dir="auto" name="age" required>
                <span class="bar"></span>
                <label>Age</label>
            </div>
            <div class="control-group">
                <span class="sex">Sex :</span>
                <label class="control control--radio">Male
                    <input type="radio" name="radio" id="male"  />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--radio">Female
                    <input type="radio" name="radio" id="femelle" />
                    <div class="control__indicator"></div>
                </label>
            </div>
            <div class="minput">
                <div class="select">
                    <select id="pays">
                        <option value="">-- Country --</option>
                        <option value="morocco">Morocco</option>
                        <option value="algeria">Algeria</option>
                        <option value="tunisia">Tunisia</option>
                    </select>
                    <div class="select__arrow"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="minput">
                <input type="text" id="pseudo" dir="auto" required>

                <span class="bar"></span>
                <label>Username</label>
            </div>

            <div class="minput">
                <input type="email" id="email" name="email" dir="ltr" class="" required>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="minput">
                <input type="password" id="password" name= "password" dir="auto" required>
                <span class="bar"></span>
                <label>Passwrod</label>
            </div>

            <div class="minput">
                <input type="password" id="passwordConf" name="cpass" required>
                <span class="bar"></span>
                <label>Retype Password</label>
            </div>
            <div class="control-group">

                <label class="control control--checkbox">Join Our Newsletter & Marketing Communication.
                    <input type="checkbox" checked/>
                    <div class="control__indicator"></div>
                </label>
            </div>

            <div class="minput">
              <span id="valid" style="margin-bottom: 5px;">Valid fields : 1/10</span>
                
                <input type="submit" value="Submit"  style="padding:5px;padding-top:7px;">
                {% if messages %}
            {% for messages in messages %}
            <p style="color: red;">{{messages}}</p>
            {% endfor %}
            {% endif%}
            </div>
            
        </div>
    </form>

    
</body>
</html>

   